#XBOriginalDash OPL Theme

bg_color=#1b1b1b
sel_text_color=#f4f23c
settings_text_color=#107c10
text_color=#107c10
ui_text_color=#5cff1c
default_font=XboxOriginalBold.ttf

#game art background, defaults to xbox bg without game art
main0:
    type=Background
    pattern=BG
    default=xbg
    aligned=0
    scaled=0
    width=DIM_INF
    height=DIM_INF

#xbox dashboard backdrop, displays game art in the center
main1:
    type=StaticImage
    default=xbg_transparent
    aligned=0
    scaled=0
    width=DIM_INF
    height=DIM_INF

#games list
main2:
    type=ItemsList
    x=255
    y=110
    color=#1b1b1b
    width=400
    height=240

#type of device the games are on
main3:
    type=MenuIcon
    x=193
    y=38
    aligned=0
    scaled=0
    width=250
    height=27

#game logo
main4:
	type=GameImage
	pattern=LGO
	scaled=0
    x=65
    y=360
    width=135
    height=60
    aligned=0

#placeholder for game art
#alternatively, we could use default=missing_cover for the ItemCover, but doing it this way mends the case where devices with no games are connected and it shows the spine with no art
main5:
    type=StaticImage
    default=missing_cover
    x=65
    y=110
    width=130
    height=240
    aligned=0

#cover art
main6:
    type=ItemCover
    pattern=COV
    #default=missing_cover
    x=65
    y=110
    width=130
    height=240
    aligned=0

#spine over game art
main7:
    type=StaticImage
    default=cover_spine
    x=65
    y=105
    width=135
    height=245
    aligned=0

#button options
main8:
    type=HintText
    aligned=1
    x=POS_MID
    y=-30

#loading game data message
main9:
    type=LoadingIcon
    x=POS_MID
    y=POS_MID
    width=180
    height=68

#game info page background, right now its just the menu background if the game art background does not exist (the info page is formatted around the menu background currently)
info0:
    type=Background
    pattern=BG
    default=xbg
    aligned=0
    scaled=0
    width=DIM_INF
    height=DIM_INF

#title
info1:
    type=AttributeText
    attribute=Title
    display=1
    aligned=0
    x=45
    y=45
    width=350
    color=#f4f23c

#genre
info2:
    type=AttributeText
    attribute=Genre
    display=1
    aligned=0
    x=45
    y=80
    width=350
    color=#5cff1c

#developer
info3:
    type=AttributeText
    attribute=Developer
    display=1
    aligned=0
    x=45
    y=110
    width=350
    color=#5cff1c

#description
info4:
    type=AttributeText
    attribute=Description
    display=2
    aligned=0
    x=45
    y=140
    width=350
    height=220
    wrap=1
    color=#107c10

#game code
info5:
	type=ItemText
	aligned=1
	color=#5cff1c
	x=520
	y=90
	width=50

#game filesize
info6:
	type=AttributeText
	attribute=#Size
	display=1
	aligned=0
	color=#5cff1c
	x=45
	y=395

#screenshot 1
info7:
    type=GameImage
    pattern=SCR
    scaled=1
    x=420
    y=115
    width=200
    height=130
    aligned=0

#screenshot 2
info8:
    type=GameImage
    pattern=SCR2
    scaled=1
    x=420
    y=265
    width=200
    height=130
    aligned=0

#ESRB (or equivalent) rating
info9:
	type=AttributeText
	attribute=Parental
	default=RP
	display=2
	aligned=1
	color=#5cff1c
	x=520
	y=425

#release year
info10:
	type=AttributeText
	attribute=Release
	display=1
	color=#5cff1c
	aligned=0
	x=45
	y=425

#players
info11:
    type=AttributeImage
    attribute=Players
    default=1_Players
	x=45
	y=340
    width=50
    height=35
    scaled=0
    aligned=0

#media type (cd, dvd, etc.)
info12:
	type=AttributeImage
	attribute=#Media
    default=missing_attribute
	x=110
	y=340
    width=50
    height=35
    scaled=0
    aligned=0

#file format
info13:
	type=AttributeImage
	attribute=#Format
	default=missing_attribute
	x=175
	y=340
    width=50
    height=35
    scaled=0
    aligned=0

#video mode (tv region, e.x. PAL)
info14:
	type=AttributeImage
	attribute=Vmode
	default=missing_attribute
	x=240
	y=340
    width=50
    height=35
    scaled=0
    aligned=0

#star rating
info15:
	type=AttributeImage
	attribute=Rating
	default=0_Rating
    x=520
    y=53
    width=125
    height=35
    aligned=1
    scaled=0

#button options
info16:
    type=InfoHintText
    aligned=1
    x=POS_MID
    y=-30

#loading game data message
info17:
    type=LoadingIcon
    x=POS_MID
    y=POS_MID
    width=180
    height=68

#ELM refers to the Elf Loader Menu (does not exist in OPL v1.2.0), but this needs to be copied here or else the theme doesn't load

#game art background, defaults to xbox bg without game art
mainELM0:
    type=Background
    pattern=BG
    default=xbg
    aligned=0
    scaled=0
    width=DIM_INF
    height=DIM_INF

#xbox dashboard backdrop, displays game art in the center
mainELM1:
    type=StaticImage
    default=xbg_transparent
    aligned=0
    scaled=0
    width=DIM_INF
    height=DIM_INF

#games list
mainELM2:
    type=ItemsList
    x=255
    y=110
    color=#1b1b1b
    width=400
    height=240

#type of device the games are on
mainELM3:
    type=MenuIcon
    x=193
    y=38
    aligned=0
    scaled=0
    width=250
    height=27

#game logo
mainELM4:
	type=GameImage
	pattern=LGO
	scaled=0
    x=65
    y=360
    width=135
    height=60
    aligned=0

#placeholder for game art
#alternatively, we could use default=missing_cover for the ItemCover, but doing it this way mends the case where devices with no games are connected and it shows the spine with no art
mainELM5:
    type=StaticImage
    default=missing_cover
    x=65
    y=110
    width=130
    height=240
    aligned=0

#cover art
mainELM6:
    type=ItemCover
    pattern=COV
    #default=missing_cover
    x=65
    y=110
    width=130
    height=240
    aligned=0

#spine over game art
mainELM7:
    type=StaticImage
    default=cover_spine
    x=65
    y=105
    width=135
    height=245
    aligned=0

#button options
mainELM8:
    type=HintText
    aligned=1
    x=POS_MID
    y=-30

#loading game data message
mainELM9:
    type=LoadingIcon
    x=POS_MID
    y=POS_MID
    width=180
    height=68